.MindOPage {
  margin: 150px 10%;
}

.MindO-init-content {
  width: 100%;
  color: #FFF;
  display: flex;
}

.init-page-flex h1 {
  text-align: center;
}

.MindO-init-content img {
  max-width: 100%;
  max-height: calc(100vh - 80px);
}

.init-page-flex p {
  padding: 20px;
  text-align: center;
  font-size: 1.5rem;
}

#MindO-explanation {
  color: #FFF;
}
#MindO-explanation img {
  width: 40%;
  height: auto;
}