.card {
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  margin: 1rem;
  padding: 1rem;
  border-radius: 8px;
  border: 1px #FFF solid;
}

.card-image {
  width: 100%;
  height: auto;
  border-radius: 8px;
}

.card-title {
  margin: 0.5rem 0;
}

.card-subtext {
  margin: 0;
}
