:root {
  --primaryColor: hsl(201, 20%, 10%);
  --secondaryColor: #e0ccb6;
  --accent: #EEF0EB;
}

.projectsp {
  margin-top: 75px;
  text-align: center;
}

.projectsp h1 {
  margin-top: 150px;
  color: #FFF;
}

.projectsp button {
  background-color: transparent;
  border: none;
  border-radius: 7px;
  padding: 10px;
  margin: 30px 10px 6px;
  color: var(--secondaryColor);
  font-weight: 600;
  font-size: 1.05rem;
  transition: 0.25s ease;
}
.projectsp button:hover {
  transition: 0.5s ease;
  background-color: var(--secondaryColor);
  color: var(--primaryColor);
  cursor: pointer;
}

#neon-line {
  width: 1280px;
  height: 1px;
  background: linear-gradient(
    90deg,
    transparent,
    var(--secondaryColor),
    transparent
  );
  margin: auto;
}

.cards-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
