* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
}

:root {
  --primaryColor: hsl(201, 20%, 10%);
  --secondaryColor: #e0ccb6;
  --accent: #CCCCCC;
}
